* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 1.4;
    min-height: 100%;

    @include respond-to(lap) {
        font-size: $font-size-large;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 16px;
}

blockquote {
    background: #f6f6f6;
    color: #777;
    font-style: italic;
    font-weight: 600;
    margin: 16px 0;
    padding: 24px;

    p:last-child {
        margin-bottom: 0;
    }
}

iframe {
    max-width: 100%;
}

ul {
    padding: 0 0 0 24px;
}
li {
    margin: 0 0 12px;
}

// Headings
h1,
h2,
h3,
h4 {
  color: $heading-color;
    line-height: 1.4;
}
h1,
h2 {
    margin: 0 0 24px;
}
h3,
h4 {
    margin: 0 0 12px;
}
h1 {
    font-size: $h1-size;

    @include respond-to(lap) {
        font-size: $h1-size-large;
    }
}
h2 {
    font-size: $h2-size;

    @include respond-to(lap) {
        font-size: $h2-size-large;
    }
}
h3 {
    font-size: $h3-size;

    @include respond-to(lap) {
        font-size: $h3-size-large;
    }
}
h4 {
    font-size: $h4-size;

    @include respond-to(lap) {
        font-size: $h4-size-large;
    }
}
h5 {
    font-size: $h5-size;

    @include respond-to(lap) {
        font-size: $h5-size-large;
    }
}
h6 {
    font-size: $h6-size;

    @include respond-to(lap) {
        font-size: $h6-size-large;
    }
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

// Images
img {
    max-width: 100%;
}
