.blog-post {
    margin-bottom: 64px;
}
.blog-post__header {
    margin-bottom: 32px;

    @include respond-to(lap) {
        align-items: baseline;
        display: flex;
    }
}
.blog-post__title,
.blog-post__date {
    margin: 0;

    @include respond-to(lap) {
        margin: 0;
        width: 50%;
    }
}
.blog-post__date {
    font-size: $h3-size;
    text-align: right;

    @include respond-to(lap) {
        font-size: $h3-size-large;
    }
}
