// Colours
$blue: #0279b3;
$light-blue: lighten($blue, 10%);
$dark-blue: darken($blue, 10%);
$purple: #8249e7;
$dark-grey: #888;
$light-grey: #f5f5f5;
$blue-grey: #263238;

$heading-color: #222;
$text-color: #666;
$link-color: #000;

// Sizes
$gutter: 32px;
$gutter-sm: 24px;
$site-width: 800px;

// Fonts
$font-family: 'PT Serif', Georgia, serif;
$font-size: 16px;
$font-size-large: 18px;
$h1-size: 24px;
$h1-size-large: 30px;
$h2-size: 20px;
$h2-size-large: 26px;
$h3-size: 16px;
$h3-size-large: 22px;
$h4-size: 16px;
$h4-size-large: 18px;
$h5-size: 15px;
$h5-size-large: 17px;
$h6-size: 14px;
$h6-size-large: 16px;
