<article class="about">
    <header class="about__header">
        <h1>Hello World!</h1>
        <h2>My name is Javi Manzano and I am a Web Developer</h2>
    </header>
    <div class="about__content">
        <div class="about__skill-list">
            <div class="about__skill">
                <h3>Python</h3>
                <p>Easy to learn, easy to read, easy to write and extremely powerful. <a target="_blank" href="https://www.python.org/dev/peps/pep-0008/">PEP8</a> is your friend, <a target="_blank" href="https://github.com/gotcha/ipdb">ipdb</a> your best ally.</p>
            </div>
            <div class="about__skill">
                <h3>Django</h3>
                <p>Huge community behind it and great <a target="_blank" href="https://docs.djangoproject.com/">documentation</a>. <a target="_blank" href="http://www.django-rest-framework.org/">Django Rest Framework</a> is usually included in most of my projects <em>requirements.txt</em> too.</p>
            </div>
        </div>
        <div class="about__skill-list">
            <div class="about__skill">
                <h3>HTML</h3>
                <p>Writing HTML is a big pain in the ass, most of the times. Thankfully, we have shinny stuff like <a target="_blank" href="http://docs.emmet.io/">Emmet</a>, which makes it fun.</p>
            </div>
            <div class="about__skill">
                <h3>CSS</h3>
                <p>Big fan of <a target="_blank" href="http://getbem.com/introduction/">BEM</a> and <a target="_blank" href="https://smacss.com/">SMACSS</a>. I usually try to get the best of both methodologies, when possible.</p>
            </div>
        </div>
        <div class="about__skill-list">
            <div class="about__skill">
                <h3>JavaScript</h3>
                <p>Not that there's a choice here when it comes to bringing some interactivity to a website. My framework of choice is Angular most of the times.</p>
            </div>
            <div class="about__skill">
                <h3>iOS</h3>
                <p>I don't have a huge deal of experience on iOS, but I'm getting comfortable building apps in Swift. I also have a couple of them in <a target="_blank" href="https://itunes.apple.com/gb/developer/javier-manzano-oller/id1044433542">the App Store</a>.</p>
            </div>
        </div>

        <hr>

        <div class="about__skill-list">
            <div class="about__skill">
                <h3>Working Experience</h3>
                <ul>
                    <li>Senior Software Developer at <a target="_blank" href="http://p.ota.to/">Potato London Ltd</a> (London, UK) - <em>April 2016 to Present</em></li>
                    <li>Software Developer at <a target="_blank" href="http://p.ota.to/">Potato London Ltd</a> (London, UK) - <em>August 2012 to April 2016</em></li>
                    <li>Web Developer at <a target="_blank" href="http://i2mapp.com/?lang=en">i2MApp Innovación en Movilidad S.L.</a> (San Sebastián, Spain) - <em>Jul 2010 to Jul 2012</em></li>
                </ul>
            </div>
            <div class="about__skill">
                <h3>Academics</h3>
                <ul>
                    <li>2007 to 2012 - Bachelor of Computer Science at Basque Country University (San Sebastián, Spain)</li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="about__skill-list">
            <div class="about__skill">
                <h3>Some stuff</h3>
                <ul>
                    <li><a target="_blank" class="bold" href="https://gitlab.com/u/jgasteiz">Gitlab</a> - I like to work on small pet projects and most of them are in my github. Nothing too fancy, just small things to keep me entertained.</li>
                    <li><a target="_blank" class="bold" href="https://github.com/jgasteiz/space-explorer">Space Explorer</a> - Small game I'm working on, using the Phaser game engine. I've written a small engine on top of Phaser for RTS games. I <em>just</em> need to come up with a final idea for Space Explorer, because it's not very defined at the moment. Play the work in progress in <a target="_blank" href="http://jgasteiz.github.io/space-explorer/src/">its github page</a>.</li>
                    <li><a target="_blank" class="bold" href="http://larevolta.me">La Revolta</a> - Photography portfolio + CMS I've built for a friend using Django.</li>
                    <li><a target="_blank" class="bold" href="https://gitlab.com/jgasteiz/HNReader-ios">HNReader</a> - iOS Hacker News reader.</li>
                    <li><a target="_blank" class="bold" href="https://github.com/jgasteiz/putio">putio</a> - iOS app for streaming <a target="_blank" href="https://put.io">put.io</a> content.</li>
                    <li><a target="_blank" class="bold" href="https://gitlab.com/jgasteiz/doeet">Doeet</a> - iOS Todo app with Firebase integration.</li>
                    <li><a target="_blank" class="bold" href="https://p.ota.to/work/">Potato projects</a> - Most of the work I do is for Potato London, check their work section and see what kind of stuff we do there. Fun stuff, mostly.</li>
                </ul>
            </div>
            <div class="about__skill">
                <h3>When I'm not coding, I'm usually...</h3>
                <ul>
                    <li>Playing videogames, mostly single player games with good story and mechanics.</li>
                    <li><a target="_blank" href="https://vimeo.com/40818571">Beer!</a></li>
                    <li>Music, all the time.</li>
                    <li>Reading science fiction books/comics.</li>
                    <li>For some reason, I love watching making of documentaries.</li>
                    <li>Riding my bike - when I used to live in Spain, at least.</li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="about__footer">
        <div class="about__skill-list">
            <div class="about__skill">
                <a target="_blank" href="https://github.com/jgasteiz">
                    github.com/jgasteiz
                </a>
            </div>
            <div class="about__skill">
                <a target="_blank" href="https://gitlab.com/jgasteiz/">
                    gitlab.com/jgasteiz
                </a>
            </div>
            <div class="about__skill">
                <a target="_blank" href="https://twitter.com/_jgasteiz">
                    twitter.com/_jgasteiz
                </a>
            </div>
        </div>
    </footer>
</article>
